body,html{
	height: 100%;
	width: 100%;
}
.main-container{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(201, 12, 12);
}

.main-container > .login,
.main-container > .hero-body{
	height: auto;
	width: 100%;
	max-width: 400px;
	min-width: 300px;
}
/* Clase de color verde personalizado */
.is-custom-green {
	background-color: rgb(24, 104, 48); /* Color verde oscuro personalizado */
	color: #fff; /* Color de texto blanco o claro */
	/* Otros estilos que desees aplicar */
  }
   
.form-inline{
	display: inline-flex;
}

/* Estilos para el contenedor de las cajas pequeñas */
.container-fluid {
	padding: 60px; /* Ajusta el espaciado según tus necesidades */
	background-color: rgb(245, 247, 245);
  }
  
  /* Estilos para las cajas pequeñas */
  .small-box {
	border: 3px solid #d2d6de; /* Borde de la caja */
	border-radius: 4px; /* Esquinas redondeadas */
	display: block;
	margin: 8px;
	background-color: #fff; /* Color de fondo de la caja */
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	width: 200px; /* Ancho de la caja */
 height: 150px; /* Altura de la caja */
  }
  
  /* Estilos para el contenido dentro de las cajas */
  .small-box .inner {
	padding: 15px; /* Espaciado interior del contenido */
  }
  
  /* Estilos para el icono dentro de las cajas */
  .small-box .icon {
	text-align: center;
	font-size: 48px; /* Tamaño del ícono */
	margin: 10px 0; /* Espaciado entre el ícono y el contenido */
  }
  
  /* Estilos para los números en el contenido */
  .small-box h3 {
	font-size: 36px; /* Tamaño del número */
	font-weight: bold; /* Negrita */
  }
  
  /* Estilos para los títulos en el contenido */
  .small-box h4 {
	font-size: 16px; /* Tamaño del título */
  }
  
  /* Estilos para los colores de fondo de las cajas pequeñas */
  .bg-info {
	background-color: #6d12e6; /* Color de fondo azul claro */
	color: #fff; /* Color de texto blanco o claro */
  }
  
  .bg-primary {
	background-color: #ca580c; /* Color de fondo naranja */
	color: #fff; /* Color de texto blanco o claro */
  }
  
  .bg-success {
	background-color: #28a745; /* Color de fondo verde */
	color: #fff; /* Color de texto blanco o claro */
  }
  
  .bg-danger {
	background-color: #dc3545; /* Color de fondo rojo */
	color: #fff; /* Color de texto blanco o claro */
  }
  
  .bg-warning {
	background-color: #ffc107; /* Color de fondo amarillo */
	color: #212529; /* Color de texto oscuro */
  }
  
  .bg-secondary {
	background-color: #6c757d; /* Color de fondo gris */
	color: #fff; /* Color de texto blanco o claro */
  }


  /* Estilo para la barra de navegación */
.navbar {
    background-color: #920808; /* Color de fondo de la barra de navegación */
    color: #ad1717; /* Color del texto en la barra de navegación */
    /* Otros estilos deseados */
}

/* Estilo para la marca del logotipo */
.navbar-brand {
    /* Estilos para el contenedor de la marca */
	background-color: rgb(8, 95, 44);
}

/* Estilo para el logotipo */
.navbar-brand a.navbar-item img {
    /* Estilos para la imagen del logotipo */
    max-width: 100%; /* Asegura que la imagen se ajuste al ancho del contenedor */
    height: auto; /* Ajusta la altura automáticamente según el ancho */
}

/* Estilo para el botón de hamburguesa */
.navbar-burger {
    /* Estilos para el botón de hamburguesa */
	background-color: #000000;
}

/* Estilo para los elementos del menú */
.navbar-menu {
    /* Estilos para el menú */
	background-color: rgb(8, 95, 44);
}

/* Estilo para los elementos de la parte izquierda del menú */
.navbar-start {
    /* Estilos para los elementos de la parte izquierda del menú */
	background-color: rgb(8, 95, 44);
	
}

/* Estilo para los enlaces del menú */
.navbar-link:hover {
    color: #065f03;

	
}
.navbar-link {
    color: #dee4de;

	
}

/* Estilo para el botón "Mi cuenta" */
.button.is-primary-custom {
    background-color: rgb(8, 95, 44); /* Cambia el color de fondo para el botón "Mi cuenta" */
    color: #fff; /* Cambia el color del texto */
    border-radius: 5px; /* Añade esquinas redondeadas */
    padding: 10px 20px; /* Ajusta el espaciado interno del botón */
    font-size: 16px; /* Cambia el tamaño del texto en el botón */
    /* Otros estilos deseados */
}

/* Estilo para el botón "Salir" */
.button.is-link-custom {
    background-color: rgb(8, 95, 44); /* Cambia el color de fondo para el botón "Salir" */
    color: #fff; /* Cambia el color del texto */
    border-radius: 5px; /* Añade esquinas redondeadas */
    padding: 10px 20px; /* Ajusta el espaciado interno del botón */
    font-size: 16px; /* Cambia el tamaño del texto en el botón */
    /* Otros estilos deseados */
}
.button.is-link-custom:hover{
  color: #ffffff;
  background-color: #d31414;
}

.button.is-primary-custom:hover{
  color: #146809;
  background-color: #ffffff;
}






  